<header>
  <img class="logo" src="/assets/logo/FPT_logo_2010.svg.png">
  <p>hello FPT</p>
</header>
<div class="network" #networkContainer
     (mousedown)="startDragging($event)"
     (mousemove)="drag($event)"
     (mouseup)="stopDragging()"
     (mouseleave)="stopDragging()"
     (wheel)="onWheel($event)">
  @for (item of [].constructor(9); track $index) {
    <app-card (cardClicked)="handleCardClick($event)"></app-card>
  }
</div>
<footer>
  <img class="footer" src="/assets/logo/1739025460519.gif">
</footer>
